        /* @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); */
        
        @font-face {
            src: url(../font/Oxygen/Oxygen-Regular.ttf);
            font-family: 'Oxygen';
        }
        
        @font-face {
            src: url(../font/Ubuntu/Ubuntu-Bold.ttf);
            font-family: 'Ubuntu bold';
        }
        
        @font-face {
            src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
            font-family: "Ubuntu";
        }
        
        @font-face {
            src: url(../font/Ubuntu/Ubuntu-Italic.ttf);
            font-family: 'Ubuntu Italic';
        }
        /* .main-wrapper{
    width:100%;
    margin:0 auto;
    text-align:center;
    position:relative;
} */
        
        .Schchat-Ubuntu-italic {
            font-family: 'Ubuntu Italic';
        }
        
        .Schchat-Oxygen {
            font-family: 'Oxygen';
            font-weight: 500!important;
        }
        
        .Schchat-Ubuntu {
            font-family: 'Ubuntu bold';
        }
        
        .Schchat-padding {
            padding-top: 120px!important;
            padding-bottom: 100px!important;
        }
        
        .Schchat-font-big {
            font-size: 20px!important;
        }
        
        .Schchat-yellow {
            background: #ffc002!important;
            color: #000!important;
        }
        
        .Schchat-yellow:hover {
            transition: ease all .5s;
            background: #d19f07!important;
            color: #fff!important;
            box-shadow: 0 0 20px rgba(253, 236, 1, 0.659);
        }
        
        .Schchat-laptop-image img {
            width: 750px;
        }
        
        .Schchat-math-image img {
            width: 600px!important;
        }
        
        .Schchat-warning-btn {
            background-image: linear-gradient(to bottom, #24A148, #24A148, #24A148, #24A148, #24A148)!important;
            border: 0!important;
            color: #fff!important;
            border: #24A148;
        }
        
        .Schchat-warning-btn:focus {
            box-shadow: none !important;
        }
        
        body {
            background: #f7f7f7!important;
            /* font-family: 'Carter One', cursive; */
            /* font-family:'Oxygen', sans-serif; */
            font-family: 'Ubuntu';
        }
        
        button {
            background: none;
            border: none;
        }
        
        .menu-icon {
            color: #fff;
        }
        
        .myNavlink {
            font-weight: 500!important;
            color: #073f91!important;
        }
        
        .myCardStyle {
            border-radius: 90px!important;
            border: 0!important;
            margin-top: 35px;
            background: #fbd341!important;
        }
        
        .myCardStyleGreen {
            border-radius: 90px!important;
            border: 0!important;
            margin-top: 35px;
            background: #4e9525!important;
        }
        
        .mySmCard {
            border-radius: 90px!important;
            border: 0!important;
            margin-top: 50px!important;
            background: #C1C530!important;
        }
        
        .myCardTitle {
            font-size: 25px!important;
            text-transform: uppercase;
            font-weight: 800!important;
        }
        
        .myCardStyle img {
            width: 120px;
            position: relative;
            top: -40px;
            border: solid 5px #fbd341!important;
            /* min-height:00px!important; */
        }
        
        .myCount {
            font-size: 85px!important;
            font-weight: 1000;
            position: relative;
            top: -160px;
            color: #fff!important;
        }
        
        .total {
            font-size: 16px;
            font-weight: 900;
            position: relative;
            top: -181px;
            color: #fff!important;
        }
        
        .mypadding-bottom {
            min-height: 350px;
        }
        
        .noLgScr {
            display: none
        }
        /* .closeing{
    position: relative;
    right:-220px;
    padding-right: 20px;
    transition:ease 0.8s;
} */
        
        .opennav:focus {
            outline: none;
        }
        
        .closeing:focus {
            outline: none;
        }
        
        .sidebar-panel.activate {
            margin-left: 0px;
            transition: ease 0.8s;
        }
        
        .sidebar-panel.unactivate {
            margin-left: -300px;
            transition: ease 0.8s;
        }
        
        .Schchat-book {
            border: solid 0.1rem #ffc107!important;
            display: flex;
            align-items: center;
            padding: 1.1rem;
            border-radius: 50%;
        }
        
        .no-padding {
            padding: 0!important;
            margin: 0!important;
        }
        
        .border-radius {
            border-radius: 100px!important;
        }
        
        .Schchat-book img {
            width: 2.1rem!important;
        }
        
        .black-overlay.dark {
            background: #000;
            z-index: 99;
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            opacity: 0.5;
        }
        
        .sub-head {
            text-align: center;
            width: 100%;
            font-weight: 500;
            color: #fff;
            padding: 40px 0 30px;
            text-transform: uppercase;
            font-size: 2em;
            background: #000;
        }
        
        .sidebar-panel {
            /* background:#337ab7; */
            /* background: #fbd341; */
            background: #fff!important;
            width: 300px;
            position: fixed;
            height: 100%;
            /* padding-top:20px; */
            padding-top: 10px!important;
            margin-left: -300px;
            /* padding-top: 40px; */
            z-index: 999;
            overflow-y: scroll;
            overflow-x: hidden!important;
        }
        /* sidebar scrollbar styles */
        /* .sidebar-panel::-webkit-scrollbar {
    width: 1em;
}
 
.sidebar-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px  rgba(3, 28, 4, 0.3);
}
 
.sidebar-panel::-webkit-scrollbar-thumb {
  background-color: #4e9525;
  outline: 1px solid #4e9525;
} */
        /* sidebar scrollbar end */
        
        .text-dark {
            color: #000!important;
        }
        
        .text-dark.myYellowHover:hover {
            color: #ffc107!important;
            transition: ease .5s!important;
        }
        
        .sidebar-panel ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 20px;
        }
        
        .sidebar-panel ul li {
            /* background: #000; */
            color: #000;
            font-size: 1.1em;
            /* margin-bottom: 20px; */
            /* border-radius: 10px; */
            /* padding: 10px 0; */
            border-bottom: 1px solid #e6e3e3;
            /* transition:ease 0.4s; */
        }
        
        .sidebar-panel ul li:hover {
            /* background: #4e9525; */
            color: #ffc107;
            /* box-shadow: 2px 3px 6px 2px #000; */
            /* font-weight:bold; */
            transition: ease 0.4s;
            /* letter-spacing: 5px; */
        }
        
        .side-content {
            width: 100%;
            max-width: 991px;
            margin: 0 auto;
        }
        
        .myFontIcon {
            font-size: 25px!important;
            padding: 0px 20px!important;
        }
        
        .myFontIcon:hover {
            color: #d1a916!important;
            transition: all .5s ease-in-out;
        }
        
        .myFontBars {
            font-size: 20px!important;
        }
        
        .myFontBars:hover {
            color: #d1a916!important;
            transition: all .5s ease-in-out;
        }
        
        .closeFontIcon {
            color: #000!important;
        }
        
        .schchat-woman-image {
            background: url('../images/Schchat-image.png')!important;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        
        .Schchat-black-btn {
            background: #000!important;
            font-weight: 500;
            color: #fff!important;
            border-color: #000!important;
            border-radius: 0;
        }
        
        .Schchat-purple-btn {
            /* background:#2f89fc!important; */
            background-image: linear-gradient(to bottom, #000000, #141313, #201f1e, #2d2b29, #393835);
            border: 0!important;
            padding-top: 10px!important;
            padding-right: 20px!important;
            padding-left: 20px!important;
            font-weight: 500;
            font-size: 19px;
        }
        
        .Schchat-form-control {
            border-radius: 0!important;
            /* border:solid 2px #000!important; */
        }
        
        .Schchat-heading {
            font-size: 40px!important;
            font-weight: 550;
        }
        
        .schchat-padding-top {
            padding-top: 20px!important;
        }
        
        .myBorder {
            border: solid 5px green!important;
            border-radius: 80px;
        }
        
        .myImg img {
            width: 200px;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border-bottom: solid 10px green!important;
        }
        
        .nanumGothic {
            font-family: 'Nanum Gothic', sans-serif!important;
            font-weight: lighter!important;
        }
        
        .myDetails {
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 50px!important;
            border: solid 3px #0a0909!important;
            font-weight: 600!important;
            color: #0a0909!important;
        }
        
        .myDetails:hover {
            background: 0!important;
            color: #0a0909!important;
        }
        /* Modal css settings */
        
        .myModal {
            border-radius: 50px!important;
        }
        
        .myExit {
            background: red!important;
            color: #fff!important;
            font-size: 20px!important;
            width: 40px!important;
            height: 40px!important;
            border-radius: 50px!important;
            position: relative;
            left: 60px;
            top: -20px;
        }
        
        .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: 1!important;
        }
        
        .myPaddingTB {
            padding: 20px 0px!important;
            padding-left: 15px!important;
        }
        
        .myLabel {
            font-weight: 700!important;
        }
        
        .myControl {
            border: solid 3px #000!important;
        }
        
        .form-control:focus {
            box-shadow: 0!important;
            outline: 0!important;
            border-color: 0!important;
        }
        
        .myOutline {
            outline: 0!important;
            box-shadow: 0!important;
        }
        /* Modal css settings end */
        
        .mySelect {
            background: #0a0909!important;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 50px!important;
            border: solid 3px #0a0909!important;
            font-weight: 600!important;
            color: #ffffff!important;
        }
        
        .Schchat-footer-heading {
            font-size: 0.8rem!important;
        }
        
        .Schchat-footer-size li>a {
            font-size: 0.73rem!important;
        }
        
        .Schchat-bg-black {
            background: #000!important;
        }
        
        .Schchat-white li a {
            /* color:#fff!important; */
            color: #dad7d7!important;
        }
        
        .Schchat-white li a:hover {
            color: #fff!important;
        }
        
        .Schchat-border-radius-right {
            border-top-right-radius: 0!important;
            border-bottom-right-radius: 0!important;
            border: 0!important;
        }
        
        .Schchat-border-radius-left {
            border-top-right-radius: 0!important;
            border-bottom-right-radius: 0!important;
            border: 0!important;
        }
        
        .Schchat-form-input {
            font-size: 15px !important;
            border: 0!important;
            padding: 0px !important;
        }
        
        .Schchat-form-input::placeholder {
            font-size: 15px !important;
        }
        
        .Schchat-form-Search {
            border: 0!important;
            padding: 0px !important;
        }
        
        .input-group>.custom-file,
        .input-group>.custom-select,
        .input-group>.form-control-plaintext {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            min-width: 0;
            margin-bottom: 0;
            padding-top: 15px!important;
            padding-bottom: 15px!important;
            font-size: 0.9rem!important;
            border: 2px solid #24A148;
        }
        
        .Schchat-form-control {
            background: #fff!important;
            border-top-left-radius: 15px!important;
            border-bottom-left-radius: 15px!important;
        }
        
        .Schchat-form-control-right {
            background: #fff!important;
            border-top-right-radius: 5px!important;
            border-bottom-right-radius: 5px!important;
        }
        
        .Schchat-Secondary {
            background: #28a745!important;
            color: #fff!important;
            border: solid none #28a745!important;
            border-radius: 25px !important;
        }
        
        .Schchat-Secondary:focus {
            box-shadow: none;
        }
        
        .Schchat-Secondary:hover {
            background-color: #132214;
            border: none;
            transition: ease-in 0.1s;
        }
        
        .Schchat-Primary {
            background: #f9a725!important;
            color: #000!important;
        }
        
         ::placeholder {
            font-size: 0.9rem!important;
        }
        
         ::-webkit-input-placeholder {
            font-size: 0.9rem!important;
        }
        
         ::-moz-input-placeholder {
            font-size: 0.9rem!important;
        }
        
         ::-o-input-placeholder {
            font-size: 0.9rem!important;
        }
        
        .Schchat-Social-icon span {
            color: #fff!important;
            font-size: 1.6rem!important;
            padding: 5px;
        }
        
        .format-form {
            background-color: #000000bd !important;
            width: 100%!important;
            height: 100% !important;
        }
        
        .bg-so {
            background-color: #fff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        
        .img-radius {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        
        .format {
            border-radius: 15px!important;
            background-color: #ffffff !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        
        .bg-card {
            border: none;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
        
        .Schchat-Social-icon span a {
            color: #fff!important;
        }
        
        .footer {
            background: #2e2e2e!important;
            padding-top: 80px!important;
        }
        
        .mySelect:hover {
            background: #161616!important;
            transition: all ease-in-out .5s!important;
            color: #f5f1f1!important;
        }
        
        .myDetails:hover {
            background: 0!important;
            color: #0a0909!important;
        }
        
        .userID {
            position: relative;
            top: -19px;
            font-size: 14px;
        }
        
        .myFarmText {
            font-size: 15px;
            color: #000!important;
            padding: 50px 0px;
            font-size: 13px;
        }
        
        @media(max-width:320px) {
            .closeing {
                /* position: relative;
        right:-350px;
        padding-right: 20px; */
                display: flex;
                justify-content: start;
                transition: ease 0.8s;
                align-items: flex-start!important;
            }
            .Schchat-laptop-image img {
                width: 440px!important;
                display: none!important;
            }
            .Schchat-math-image img {
                width: 600px!important;
                display: none!important;
            }
            .Schchat-heading {
                font-size: 20px!important;
                font-weight: 550;
            }
            .myFontIcon {
                font-size: 14px!important;
                color: #000!important;
                padding: 0px 10px!important;
            }
            .myFontBars {
                color: #fbd341!important;
                font-size: 14px!important;
            }
        }
        
        @media (max-width:576px) {
            .closeing {
                /* position: relative;
        right:-350px;
        padding-right: 20px; */
                display: flex;
                justify-content: left;
                transition: ease 0.8s;
            }
            .Schchat-laptop-image img {
                width: 440px!important;
                display: none!important;
            }
            .Schchat-math-image img {
                width: 600px!important;
                display: none!important;
            }
            .Schchat-heading {
                font-size: 20px!important;
                font-weight: 550;
            }
            .myNavlink {
                display: none!important;
            }
            .noLgScr {
                display: block;
            }
            .navbar {
                /* background:#1c2830!important; */
                background: #fff!important;
            }
            .myFontIcon {
                /* color:#fbd341!important; */
                color: #000!important;
                padding: 0px 10px!important;
            }
            .myFontBars {
                color: #000!important;
            }
            .sidebar-panel.activate {
                width: 100%!important;
            }
            .myCardStyle {
                width: 355px!important;
                display: flex!important;
                justify-content: center!important;
                margin: auto!important;
                margin-top: 35px!important;
            }
            .myFarmSelect {
                width: 355px!important;
                display: flex!important;
                justify-content: center!important;
                margin: auto!important;
                margin-top: 35px!important;
            }
        }
        
        @media(max-width:751px) {
            .myFontIcon {
                color: #fbd341!important;
                padding: 0px 3px!important;
            }
            .Schchat-laptop-image img {
                width: 440px!important;
                display: none!important;
            }
            .Schchat-math-image img {
                width: 600px!important;
                display: none!important;
            }
            .myPadding-mobile {
                padding-top: 50px!important;
                padding-bottom: 50px!important;
            }
            .myCardStyle {
                width: 355px!important;
                display: flex!important;
                justify-content: center!important;
                margin: auto!important;
                margin-top: 35px!important;
            }
            .myFarmSelect {
                width: 355px!important;
                display: flex!important;
                justify-content: center!important;
                margin: auto!important;
                margin-top: 35px!important;
            }
            .navbar-expand .navbar-nav .nav-link {
                padding-right: 0!important;
                padding-left: .5rem;
                font-size: 13px;
            }
            .myFontBars {
                color: #000!important;
            }
        }
        
        @media(max-width:1099px) {
            .Schchat-laptop-image img {
                width: 520px!important;
            }
            .Schchat-math-image img {
                width: 520px!important;
            }
        }
        /*---------------------------- 
loader  
----------------------------*/
        
        .loader_bg {
            position: fixed;
            z-index: 9999999;
            /* background: #222; */
            background: #fff!important;
            /* background:url('../../myasset/images/background-image.png') #f7f7f7 top; */
            background-size: cover;
            background-position: no-repeat;
            width: 100%;
            height: 100%;
        }
        
        .loader {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .loader img {
            width: 90px;
        }
        
        .myGearloader {
            width: 70px!important;
            display: block!important;
        }
        
        .avatar {
            border: solid 1px #000000!important;
            border-radius: 50px!important;
            width: 40px!important;
            height: 40px!important;
            padding-top: 5px!important;
        }
        
        .avatar img {
            width: 100%;
        }
        
        .Schchat-Useraccount img {
            border: solid 2px #fff!important;
            border-radius: 50%!important;
            width: 45px;
            height: 45px;
        }
        
        .Schchat-active.active {
            background: #f9a725!important;
            color: #fff!important;
            border: 0!important;
        }
        
        .Schchat-padding {
            padding-right: 5px;
            padding-left: 5px;
        }
        
        .Userimag {
            width: 100%;
            height: 100%;
        }
        
        .Schchat-Useraccount {
            padding-right: 20px!important;
            padding-left: 20px!important;
            background: #f9a82588!important;
            color: #000!important;
            font-weight: 600;
        }
        
        .User-sm {
            font-size: 0.9rem!important;
        }
        
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: -195px;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 15rem!important;
            padding: .5rem 0;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            /* border: 1px solid rgba(0,0,0,.15); */
            border: 0!important;
            /* border-radius: .25rem; */
            border-radius: 0!important;
            border-bottom: solid 5px #f9a725!important;
        }
        /* Avatar end */
        
        .myPadding {
            padding-top: 100px!important;
            padding-bottom: 100px!important;
        }
        
        .card-stop {
            border-radius: 20px 20px 20px 20px !important;
        }
        
        .nav-item {
            color: #000;
            font-weight: 500;
            font-family: Poppins;
        }
        
        .mot {
            background-color: #f9a725 !important;
            color: #000c !important;
        }
        
        .cx-prepand {
            color: #000000 !important;
            background-color: white !important;
            border: 1px solid #000000 !important;
            border-radius: 25px !important;
            width: 200px;
        }
        
        .cx-prepen-1 button {
            background-color: #ffffff;
            border: none;
            border-radius: 25px !important;
        }
        
        .cx-prepen-1 button:focus {
            outline: none;
            box-shadow: none;
        }
        
        .cx-prepand input {
            border: none;
            color: #000000 !important;
            border-radius: 25px !important;
        }
        
        .cx-prepand input:focus {
            outline: none;
            box-shadow: none;
        }
        /*PROPERTY*/
        
        .bg-succes {
            width: 100%;
            height: 100px;
            background-color: #24A148;
            padding: 0px;
            margin: 0px;
            border-radius: 15px 15px 0px 0px!important;
        }
        
        .bg-succes i {
            font-size: 70px;
            color: #ffffff;
        }
        
        .cx-prepand input:focus {
            outline: none;
            box-shadow: none;
        }
        
        .lod img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: block;
        }
        
        .lod {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }