<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lariox</title>

    <!--LINK-->
    <script src="./jquery/jquery-3.5.1.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> -->
</head>

<body>
    <!--NAVBAR-->
    <section>
        <header class="header">
            <nav class="navbar navbar_1 navbar-expand-lg navbar-light">
                <div>
                    <a class="navbar-brand" href="./Index.html">
                        <span class="navbar-brand mb-0 ml-5 h1">ZAMELLA</span>
                    </a>
                </div>
                <!-- <a class="nav-link nav-login btn mb-2 mb-md-0 d-block d-md-none" href="#" style="width: 70px!important;">Login</a> -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto pr-5">
                        <li class="nav-item active mr-5">
                            <a class="nav-link" href="./index.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link " href="#">Agent</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link " href="./Property.html">Properties</a>
                        </li>
                        <li class="nav-item mr-4 d-none d-md-block">
                            <a class="nav-link nav-login btn mb-2 mb-md-0" href="login.html">Login</a>
                        </li>
                        <div class="input-group desktop-search-area">
                            <input type="text" class="form-control" name="search" placeholder="search Property">
                            <div class="input-group-append">
                                <button class="input-group-text pr-4"><i class="fa fa-search text-buchi"></i></button>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
        </header>
    </section>
    <section class="mht-1">
        <div class="container-fluid">
            <div class="row p-5">
                <div class="col-md-8 p-5 nog">
                    <div class="row">
                        <div class="col-12">
                            <img src="./Img/place-4.jpg" class="" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-4 jumbotron ">
                            <div class=" row p-5 ">
                                <div class="col-6">
                                    <div><span class="yht-1"> Rent: N450,000</span></div>
                                    <div><span class="yht-1">Agency: N45,000</span></div>
                                    <div><span class="yht-1">Legal Fee: N22,500</span></div>
                                    <div>
                                        <h2 class="text-success">Total: N517,500</h2>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="row justify-content-center">
                                        <div class="col-4 ">
                                            <!-- <div class="text-center font-weight-bold"><span>Bedrooms</span></div> -->
                                            <div class="text-center"><strong>3</strong></div>
                                        </div>
                                        <div class="col-4">
                                            <div class="text-center font-weight-bold"><span>Toilets</span></div>
                                            <div class="text-center"><strong>4</strong></div>
                                        </div>
                                        <div class="col-2">
                                            <div class="text-center font-weight-bold"><span>Baths</span></div>
                                            <div class="text-center"><strong>3</strong></div>
                                        </div>
                                    </div>
                                    <hr class="my-3">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <span class="font-weight-bold">House Code</span>
                                            <div class="badge badge-danger p-2 mx-3">COOO1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-3">
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-center"><span class="font-weight-bold">HOME TYPE</span></div>
                                    <div class="text-center"><span>Flat</span></div>
                                </div>
                                <div class="col-4">
                                    <div class="text-center">
                                        <spann class="font-weight-bold"> LOCATION</span>
                                    </div>
                                    <div class="text-center">
                                        <p> Nkpolu-East/West Road (Obio/Akpor LGA)</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-center">
                                        <spann class="font-weight-bold r"> OFFER</span>
                                    </div>
                                    <div class="text-center"><strong>For Rent</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-4 py-5 px-4">
                    <div class="row">
                        <div class="col-5 mr-1 mb-1">
                            <div class="row p-0 ght-1 ">
                                <div class="col-12 up p-0">
                                    <img class="" src="./Img/place-4.jpg" alt="">
                                </div>
                                <div class="col-12 p-0 card-text">
                                    <p class="text-center">Sitting Room</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 mr-1 mb-1">
                            <div class="row p-0  ght-1  ">
                                <div class="col-12 up p-0">
                                    <img class="" src="./Img/place-4.jpg" alt="">
                                </div>
                                <div class="col-12 p-0 card-text">
                                    <p class=" text-center">Bedroom</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 mr-1 mb-1">
                            <div class="row p-0 ght-1 ">
                                <div class="col-12 up p-0">
                                    <img class="" src="./Img/place-4.jpg" alt="">
                                </div>
                                <div class="col-12 p-0 card-text">
                                    <p class="text-center">Sitting Room</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 mr-1 mb-1">
                            <div class="row p-0  ght-1  ">
                                <div class="col-12 up p-0">
                                    <img class="" src="./Img/place-4.jpg" alt="">
                                </div>
                                <div class="col-12 p-0 card-text">
                                    <p class=" text-center">Bedroom</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-5 mr-1 ">
                            <div class="row p-0 ght-1 ">
                                <div class="col-12 up p-0">
                                    <img class="" src="./Img/place-4.jpg" alt="">
                                </div>
                                <div class="col-12 p-0 card-text">
                                    <p class="text-center">Sitting Room</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 mr-1">
                            <div class="row p-0  ght-1  ">
                                <div class="col-12 up p-0">
                                    <img class="" src="./Img/place-4.jpg" alt="">
                                </div>
                                <div class="col-12 p-0 card-text">
                                    <p class=" text-center">Bedroom</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>





            </div>

        </div>



        </div>
    </section>

    <!--Footer-->
    <footer>
        <div class="container-fluid breek">
            <div class="row justify-content-center py-5 px-md-5 px-2">
                <div class="col-md-3 mt-3 mb-2 ">
                    <h5>ZAMELLA</h5>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                    <div>
                        <a href="#"><i class="fab fa-facebook-f "></i></a>
                        <a href="#"><i class="fab fa-twitter pl-4 "></i></a>
                        <a href="#"><i class="fab fa-google pl-4" ></i></a>
                    </div>


                </div>
                <div class="col-md-3 col-6 mt-3 mb-2 ">
                    <h5 class="ml-2">Community</h5>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>Search Properties</div>
                    </a>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>For Agents</div>
                    </a>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>Review</div>
                    </a>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>FAQS</div>
                    </a>
                </div>

                <div class="col-md-3 col-6 mt-3 mb-2">
                    <h5 class="ml-2">COMPANY</h5>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>About Us</div>
                    </a>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>Press</div>
                    </a>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>Contact</div>
                    </a>
                    <a href="#">
                        <div><i class="fa fa-angle-right pt-1 mr-1"></i>Career</div>
                    </a>
                </div>
                <div class="col-md-3 breek-1 mt-3 mb-2">
                    <h5>Have a Question</h5>
                    <div class="mb-3">
                        <i class="fa fa-map-marker-alt pt-1 mr-1"></i>204 Ada George Road, Port Harcourt, Nigeria
                    </div>
                    <a href="#">
                        <div class="mb-3"><i class="fa fa-phone-alt pt-1 mr-1"></i>+234809-1309-430</div>
                    </a>
                    <a href="#">
                        <div><i class="fa fa-envelope-open pt-1 mr-1"></i>info@naijadomain</div>
                    </a>


                </div>
            </div>
        </div>
    </footer>



</body>

</html>