        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        html,
        body {
            width: 100%;
            height: 100%;
            background-color: white !important;
            font-family: Poppins;
        }
        
        .navbar_1 {
            background-color: rgb(255, 255, 255);
            z-index: 999;
        }
        
        .nav-item {
            color: black !important;
            font-weight: 700;
        }
        
        .navbar-brand {
            color: black !important;
            font-weight: 800;
        }
        
        .header {
            background-color: transparent;
            background-size: cover;
        }
        
        .nav-login {
            border-radius: 18px 18px 18px 18px;
            background-color: #FFB719;
            color: white!important;
            border-color: transparent;
            padding: .3rem 1.5rem;
            width: 80px;
            /*height: 35px;*/
        }
        
        .nav-login:hover {
            background-color: white;
            color: #28a745!important;
            border-color: #FFB719;
        }
        
        .desktop-search-area {
            width: 25%!important;
        }
        
        .lap-1 {
            background-image: url(./Img/architecture-1867187_1920.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .input-group-text {
            border: 1px solid black;
            background-color: #ffffff;
        }
        
        .card {
            background-color: #0000007a;
            color: #ffffff;
            margin-bottom: 100px;
        }
        
        .card p {
            text-align: center;
        }
        
        .button-1 a button {
            height: 40px;
            /*width: 200px;*/
            border-radius: 50px 50px 50px 50px;
            background-color: #FFB719;
            color: white;
            border-color: transparent;
        }
        
        .button-1 a button:hover {
            background-color: white;
            color: #28a745;
            border-color: #FFB719;
        }
        
        .peak {
            background-color: rgb(10 10 27);
            position: relative;
            z-index: 999;
            bottom: 50px;
        }
        
        .leak {
            background-color: rgb(10 10 27);
            position: relative;
            z-index: 999;
            bottom: 50px;
            display: flex;
            /*justify-content: center;*/
            align-items: center;
            font-size: 12px!important;
        }
        
        .low-1 input {
            background-color: #13b91b;
            border: 2px transparent;
            border-radius: 0px 15px 15px 0px;
            font-size: 20px;
            border: 0px solid transparent;
            width: 150px;
            height: 33px;
            color: #ffffff;
            text-align: center;
            border-left-color: transparent;
        }
        
        .low-1 {
            height: 33px;
            background-color: #28a745;
            border: 0px transparent;
            border-radius: 15px 15px 15px 15px;
            font-size: 20px;
            border: 1px solid transparent;
            color: #ffffff;
            text-align: center;
            border-right-color: transparent;
            font-size: 12px!important;
            min-width: 25%!important;
        }
        
        .low-1 input::placeholder {
            color: #ffffff;
        }
        
        .desktop-search-area input {
            height: 35px;
            background-color: #ffffff;
            border: 2px transparent;
            border-radius: 25px 0px 0px 25px;
            font-size: 12px;
            border: 1px solid black;
            border-right-color: transparent;
        }
        
        .desktop-search-area button {
            height: 35px!important;
            width: 7px;
            border-radius: 0px 25px 25px 0px;
            border-left-color: transparent;
        }
        
        .search-area input {
            height: 25px;
            width: 250px !important;
            background-color: transparent;
            border: 0px transparent;
            border-radius: 25px 25px 25px 25px;
            font-size: 15px;
            border: 0px solid transparent;
            color: #ffffff;
        }
        
        .search-area button {
            height: 33px;
            background-color: transparent;
            border: 0px transparent;
            border-radius: 15px 0px 0px 15px;
            border: 1px solid transparent;
            color: #ffffff;
            text-align: right;
            border-right-color: transparent;
        }
        
        .search-area input::placeholder {
            color: #ffffff;
        }
        
        .pop-reg {
            font-family: poppins;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
        }
        
        .hom {
            font-size: 15px;
        }
        
        .loop {
            background-color: transparent;
            border: none;
            font-size: 15px;
            color: #ffffff;
            text-align: center;
        }
        
        .loop option {
            color: #ffffff;
            background-color: rgb(10 10 27);
            text-align: center;
        }
        
        .hope input {
            width: 120px;
            height: 30px;
            border: none;
            border-color: transparent;
            background-color: transparent;
            color: #ffffff;
            border-radius: 25px 25px 25px 25px;
        }
        
        .hope input::placeholder {
            color: #ffffff;
            background-color: transparent;
            text-align: justify;
        }
        
        .card-2 {
            background-color: white;
            border: none;
        }
        
        .mav1 {
            text-align: center;
        }
        
        .mav2 h5 {
            color: black;
        }
        
        .mav1 ul li {
            color: black;
        }
        
        .mav3 a i {
            color: rgb(10 10 27);
            font-size: 70px;
        }
        
        .card-3 {
            background-color: rgb(226 228 229);
            border: none;
        }
        
        .card-4 {
            background-color: rgb(238 241 243);
            border: none;
        }
        
        .card-5 {
            background-color: white;
            border: none;
        }
        
        .vow {
            margin-top: -80px;
        }
        
        .nepa i {
            font-size: 50px;
            font-weight: 400px;
            width: 50px;
            color: #0e7213;
        }
        
        .nepa h4 {
            color: #0e7213;
            font-size: 40px;
            font-weight: 600;
        }
        
        .joop {
            background-image: url(./Img/house-409451_1920.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /*width: 100%;*/
            height: 250px;
            /*margin-left: 1px;*/
        }
        
        .line {
            line-height: 1px;
            text-align: center;
            color: #13b91b;
            border-color: #13b91b;
            font-weight: 500;
            font-size: 25px;
        }
        
        .line span {
            display: inline-block;
            position: relative;
            padding: 2px;
        }
        
        .line span::before {
            content: "";
            position: absolute;
            width: 600px;
            border: solid 3px #13b91b;
            height: 5px;
            top: 0;
            right: 100%;
            max-width: 100px;
        }
        
        .line span::after {
            content: "";
            position: absolute;
            width: 600px;
            border: solid 3px #13b91b;
            height: 5px;
            top: 0;
            left: 100%;
            max-width: 100px;
        }
        
        .joop-7 i {
            color: #13b91b;
            position: relative;
            bottom: 14px;
            left: 175px;
            font-size: 35px;
        }
        
        .joop-3 h4 {
            color: black;
            margin: 0px;
            padding: 0px;
            font-size: 1.1rem;
            font-family "Nunito Sans",
            Arial,
            sans-serif;
        }
        
        .joop-4 p {
            color: black;
            margin: 0px;
            padding: 0px;
            font-size: 0.9rem;
        }
        
        .joop-5 p {
            color: black;
            margin: 0px;
            padding: 0px;
            font-size: 1.3rem;
        }
        
        .joop-6 button {
            border-radius: 20px;
            /* background-color: #13b91b; */
            /*margin-left: 80px;*/
            border: none;
            color: #ffffff;
            /*float: right!important;*/
        }
        
        .joop-6 button:hover {
            background-color: #9baa9c;
            border: none;
        }
        
        .joop-2 span {
            /*background-color: #ffffffd8;*/
            color: #24A148;
            /*border: none;*/
            position: relative;
            top: 150px;
            width: 90px;
            /*height: 30px;*/
            text-align: center;
            /*font-size: 20px;*/
            font-size: 16px;
            font-weight: 600;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 4px;
            padding: 7px 8px;
        }
        
        .joop-7 i:hover {
            color: #3a702dd2;
        }
        
        .joop-1 span {
            border: none;
            font-size: 14px;
            padding: 4px 10px;
            font-weight: 500!important;
            /*width: 60px;*/
        }
        
        .badge-navy {
            background-color: #e16262;
        }
        
        .card-p {
            border: 1px solid #ccc;
            border-radius: 3px;
            /* margin: 10px 5px;
    padding: 4px;  */
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
        
        .jeep {
            background-image: url(./Img/villa-1209148_1920.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 250px;
            margin-left: 1px;
        }
        
        .jaap {
            background-image: url(./Img/condominium-690086_1920.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 250px;
            margin-left: 1px;
        }
        /*.look-2 img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 220px;
    
}
.look-3 img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 220px;
}*/
        
        .look-4 h1 {
            font-size: 3rem;
            font-weight: 700;
            font-family: poppins;
            margin-top: 10px;
        }
        
        .look-5 p {
            text-align: justify;
        }
        
        .look-1 {
            border: 3px solid #000000;
        }
        
        .broke {
            background-color: rgb(214, 228, 240);
            margin-bottom: -18px;
        }
        
        .line1 {
            line-height: 1px;
            text-align: center;
            color: #13b91b;
            border-color: #13b91b;
            font-weight: 500;
            font-size: 23px;
        }
        
        .line1 span {
            display: inline-block;
            position: relative;
            padding: 2px;
        }
        
        .line1 span::before {
            content: "";
            position: absolute;
            width: 600px;
            border: solid 3px #13b91b;
            height: 5px;
            top: 0;
            right: 100%;
            max-width: 100px;
        }
        
        .line1 span::after {
            content: "";
            position: absolute;
            width: 600px;
            border: solid 3px #13b91b;
            height: 5px;
            top: 0;
            left: 100%;
            max-width: 100px;
        }
        
        .kill h2 {
            font-weight: 600;
        }
        
        .card-body-1 p {
            text-align: justify !important;
            color: #000000;
        }
        
        .card-body-3 p {
            text-align: justify !important;
            color: #000000;
        }
        
        .card-body-2 img {
            margin-left: 30px;
        }
        
        .card-body-0 {
            background-color: #ffffff;
        }
        
        .vow-1 i {
            font-size: 40px;
            position: relative;
            bottom: 18px;
        }
        
        .breek {
            background-color: rgb(10 10 27);
            ;
        }
        
        .btn-navy {
            background-color: #FFB719;
        }
        
        .carousel-indicators-2 li {
            width: 30px;
            height: 6px;
            margin-right: 3px;
            margin-left: 3px;
            margin-top: 10px;
            background-color: #0e7213;
            background-clip: padding-box;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: .5;
            transition: opacity .2s ease;
            border-radius: 25px;
        }
        
        .carousel-indicators {
            position: relative;
            right: 0;
            bottom: -400px;
            left: 0;
            z-index: 15;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 0;
            margin-right: 15%;
            margin-left: 15%;
            list-style: none;
        }
        
        .carousel-indicators-2 .active {
            opacity: 1;
        }
        
        .carousel-item img {
            width: 100%;
            height: 400px;
        }
        
        .carousel-fade .carousel-item {
            opacity: 0;
            transition-duration: .6s;
            transition-property: opacity;
        }
        
        .carousel-fade .carousel-item.active,
        .carousel-fade .carousel-item-next.carousel-item-left,
        .carousel-fade .carousel-item-prev.carousel-item-right {
            opacity: 1;
        }
        
        .carousel-fade .active.carousel-item-left,
        .carousel-fade .active.carousel-item-right {
            opacity: 0;
        }
        
        .carousel-fade .carousel-item-next,
        .carousel-fade .carousel-item-prev,
        .carousel-fade .carousel-item.active,
        .carousel-fade .active.carousel-item-left,
        .carousel-fade .active.carousel-item-prev {
            transform: translateX(0);
            transform: translate3d(0, 0, 0);
        }
        
        .dell strong {
            font-size: 2rem;
        }
        
        span.carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: 50px!important;
            height: 50px!important;
            color: #000000 !important;
        }
        
        .about-pix {
            min-height: 100%;
        }
        
        footer h5 {
            color: white!important;
        }
        
        footer {
            color: grey;
        }
        
        footer a {
            color: grey!important;
        }
        
        @media(max-width: 967px) {
            .dell strong {
                font-size: 1.6rem;
            }
        }
        
        @media(min-width: 768px) {
            .low-1 {
                width: 100%!important;
            }
        }
        
        @media(max-width: 575px) {
            .about-pix {
                height: 200px!important;
                background-position: center;
            }
        }
        
        @media(max-width: 320px) {
            .dell strong {
                font-size: 1.4rem;
            }
        }
        /*special styling*/
        /*@media(max-width: 705px){
    .joop-6 button{
        font-size: 
    }
}*/
        /*LOGIN*/
        
        .log-1 {
            background-image: url(./Img/architecture-1867187_1920.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .overbg .overlay {
            background-color: rgba(0, 0, 0, 0.911);
            height: 100%;
            width: 100%;
        }
        
        .bg-succes {
            width: 100%;
            height: 100px;
            background-color: #24A148;
            padding: 0px;
        }
        
        .bg-succes img {
            width: 100px;
            height: 100px;
        }
        
        .bg-succes i {
            font-size: 60px;
        }
        
        .bg-card {
            border: none;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
        
        .cx-prepend {
            color: #24A148 !important;
            background-color: white !important;
            border: 1px solid #24A148 !important;
        }
        
        .cx-prepen {
            background-color: #ffffff;
            border: none;
        }
        
        .cx-prepend input {
            border: none;
            color: #24A148 !important;
        }
        
        .cx-prepend {
            border: 1px solid #24A148;
        }
        
        .cx-prepend input:focus {
            outline: none;
            box-shadow: none;
        }
        
        .cx-preped button {
            width: 100px !important;
            background-color: #24A148;
            border: none;
        }
        
        .cx-preped button:hover {
            background-color: #96a099;
        }
        
        .mert a strong {
            color: #6d6a6a;
            font-size: 10px;
        }
        /* REGISTER FORM */
        
        .cx-prepad button {
            width: 150px !important;
            background-color: #24A148;
            border: none;
        }
        
        .cx-prepad button:hover {
            background-color: #96a099;
        }
        
        .font-10 {
            font-size: 12px;
            font-weight: 300;
        }
        
        .font-10 a {
            color: rgb(83, 83, 83);
            font-weight: 300;
        }
        /*Property Details*/
        
        .nog img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 90%;
            border-radius: 15px;
        }
        
        .up img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
        
        .ght-1 {
            border: 4px solid #ffffff;
            background-color: #ffffff;
            border-radius: 15px;
            /* box-shadow: #000000; */
            box-shadow: 0 8px 16px -6px black;
        }
        
        .mht-1 {
            background-color: #e7e7ec;
        }
        
        .mht-1 {
            background-color: #e7e7ec;
        }
        
        .card-text p {
            font-family: Poppins;
            font-size: 15px;
            font-weight: 600;
        }
        
        .jumbotron {
            /* border: 1px solid #000000; */
            /* box-shadow: 0 8px 16px -6px black; */
            background-color: #ffffff;
            border-radius: none !important;
            padding: none !important;
            border-radius: 15px;
        }
        
        .yht-1 {
            color: #07055c;
            font-weight: 700;
        }
        
        .uvh span,
        .uvh,
        .uvh strong,
        .uvh p {
            font-size: 15px;
        }
        
        .uvh-2 {
            font-size: 15px;
            background-color: #07055c;
        }
        /*Property Det*/
        
        #myCarousel .list-inline {
            white-space: nowrap;
            overflow-x: auto;
        }
        
        #myCarousel .carousel-indicators {
            position: static;
            left: initial;
            width: initial;
            margin-left: initial;
        }
        
        #myCarousel .carousel-indicators>li {
            width: initial;
            height: initial;
            text-indent: initial;
        }
        
        #myCarousel .carousel-indicators>li.active img {
            opacity: 0.9;
        }
        
        .carousel-item img {
            border-radius: 15px 15px 0px 0px;
        }
        
        .vvh-1 h2 {
            font-size: 20px;
        }
        
        .vvh-1 p {
            font-size: 15px;
        }
        
        .tht-1 {
            background-color: #07055c;
            color: #ffffff;
            font-size: 20px;
        }
        
        .vht-3 {
            border: none;
            background-color: #ffffff;
            border-radius: 20px;
        }
        
        .ut-2 {
            color: #24A148;
        }
        
        .it-2 span {
            border: none !important;
        }
        
        .cx-prapend {
            color: #24A148 !important;
            background-color: white !important;
        }
        
        .cx-prapend textarea {
            border-radius: 5px;
            width: 100%;
            outline: none;
            resize: none;
            border: 1px solid #24A148 !important;
            overflow: auto;
        }
        
        .nth-2 {
            background-color: #FFB719;
            border: none;
            color: #07055c !important;
        }
        
        .nth-2:hover {
            background-color: #d1cbbf;
            color: #07055c !important;
        }
        
        .her {
            border-left: 2px solid #07055c !important;
            box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
        }
        
        .hst-1 {
            background-color: #07055c !important;
        }
        
        .tuo-1 img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80px;
            width: 120px;
            display: block;
        }
        
        .dht-3 {
            background-color: #FFB719 !important;
            color: #07055c !important;
        }